* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    color: whitesmoke;
    font-family: 'Corben', serif;
}

body {
    background-color: #1F2937;
    height: 100%;
    width: 100%;
    text-align: center;
}

.title {
    margin: 0;
    padding: 1em 0;
}

.form {
    display: flex;
    justify-content: center;
    gap: 3em;
}

.form__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form__item > input {
    width: 100%;
    height: 100%;
    border: none;
}

.form__item > select {
    background-color: #1F2937;
    color: whitesmoke;
    padding: 0.5em;
    border-radius: 5px;
    border: 2px solid whitesmoke;
    font-size: 1em;
}

.submit {
    padding: 1em;
    background-color: #3D4B60;
    color: whitesmoke;
    border: none;
    border-radius: 5px;
    font-size: 1em;
}

.chosen-colours {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fit, minmax(0px, 1fr));
    width: 100%;
    padding: 2em 0;
}

.chosen-colours__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.chosen-colours__item__colour {
    display: block;
    height: 50vh;
    width: 100%;
    z-index: 1;
}