* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* Typography */
body {
    font-family: 'Source Sans 3', sans-serif;
}

.logo-text {
    font-weight: 600;
    letter-spacing: -0.05em;
}

.nav-link {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.upper {
    text-transform: uppercase;
}

footer p {
    margin: 0;
}

.small {
    font-size: 0.75rem;
}

.medium {
    font-size: 1rem;
}

.large {
    font-size: 1.5rem;
}

.xlarge {
    font-size: 2rem;
}

.white {
    color: white;
}

.article-title {
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.25;
}

.article-caption {
    font-size: 1rem;
    max-width: 550px;
}

/* Navigation bar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    gap: 0.5em;
}

.logo {
    display: inline;
    width: 2em;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    list-style-type: none;
    padding: 0;
}

.nav-link {
    display: inline-block;
    cursor: pointer;
    padding: 0.5em;
    text-align: center;
}

/* recent post styling */
.recent-posts-title {
    display: block;
    padding: 1em;
    text-align: center;
    font-weight: bold;
}

/* all article styling */
.article-container {
    display: block;
    text-decoration: none;
    cursor: pointer;
}

.article-text-container * {
    margin: 0;
}

.article-text-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: start;
    gap: 0.5em;
    padding: 1.5em 0;
    color: black;
}


/* hero article styling */
.hero {
    position: relative;
    min-height: 40vh
}

.hero-article-image {
    position: absolute;
    inset: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;

    filter: brightness(30%);
}

.hero .article-text-container {
    position: absolute;
    inset: 0;
    padding: 1em;
}

/* regular article styling */
.non-hero-articles-container {
    padding: 1em;
    display: grid;
    grid-auto-columns: minmax(30vh, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    justify-items: center;
    gap: 1em;
}

.article-image {
    display: block;
    width: 100%;
    max-width: 550px;
    height: 350px;
    object-fit: cover;
    border-radius: 5px;
}

/* View More link styling*/
.view-more {
    display: block;
    padding-bottom: 2em;
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
}

/* post styling */
.post {
    display: block;
    padding: 1em;
    max-width: 1000px;
    margin: 0 auto;
}

.post > * {
    margin-bottom: 1rem;
}

.post :is(p, h1, h2, h3, h4, h5, h6) {
    margin: 1rem auto;
    max-width: 700px;
    text-wrap: avoid-orphans;
}

.post-hero-image {
    width: 100%;
    padding: 1em;
    margin: 0 auto;
    display: block;
}

.profile-image {
    float: left;
    width: 150px;
    height: 150px;
    margin: 1rem;
    border-radius: 50%;
    display: inline;
}

/* footer styling */
footer {
    color: white;
    background: #222;
    padding: 1.5em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* media queries */
@media (max-width: 500px) {
    .logo-text {
        display: none;
    }
}

@media (max-width: 650px) {
    .profile-image {
        display: block;
        float: none;
    }
}