html, body {
    margin: 0;
    padding: 0;
}

.container {
    width: 500px;
    margin: auto;
}

/* Typography */

body {
    font-family: 'Source Sans 3', sans-serif;
}

.bold {
    font-weight: bold;
}

/* Navigation */

.nav-list {
    display: flex;
    list-style-type: none;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    border-bottom: #C6C6C6 solid 1px;
    margin: 0;
}

.logo {
    height: 70px;
    cursor: pointer;
}

/* Avatar */

.avatar {
    border-radius: 50%;
    height: 50px;
}

/* Post Header */

.post-header {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
    padding: 10px;
    height: 50px;
}

.post-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.post-info p {
    margin: 0;
}

.post-image {
    width: 100%;
}

/* Post footer */
.post-footer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 10px;
    padding: 10px;
}

.reactions {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
}

.reactions img {
    cursor: pointer;
    width: 25px;
}

.comments {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.comments .comment p {
    margin: 0;
    display: inline;
}