:root {
    --primary-bg-color: #121212;
    --secondary-bg-color: #2E2E2F;
    --button-bg-color: #4B4B4B;
    --primary-font-color: #FFFFFF;
    --secondary-font-color: #9CA3AF;

    --success-font-color: #008000;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: var(--primary-bg-color);
}

p, h1, h2, h3, h4, h5, h6, span, a, li {
    font-family: 'Inter', sans-serif;
    color: var(--primary-font-color);
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: not-allowed;
}

.header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url('/images/movie-posters.jpg');
    background-position: center center;
    background-size: cover;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    height: 25vh;

    padding: 3em;
}

.header__title {
    font-size: 3em;
}

.header__link {
    text-decoration: none;
    color: var(--primary-font-color);
    font-weight: bold;
    padding: 1em;
    cursor: pointer;
}

.movie-searchbar {
    position: absolute;
    left: 0;
    right: 0;
    margin-top: -20px;
    padding: 0 3em;

    display: flex;
    justify-content: center;
    align-items: center;
}

.movie-searchbar__search-section {
    background-color: var(--secondary-bg-color);
    color: var(--secondary-font-color);

    display: flex;
    align-items: center;
    gap: 0.5em;

    width: 60vw;

    padding: 0 0.75em;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.movie-searchbar__input {
    color: var(--primary-font-color);
    background-color: transparent;
    padding: 0.75em 0;
    width: 100%;
    border: none;
}

.movie-searchbar__button {
    background-color: var(--button-bg-color);
    color: var(--primary-font-color);
    border: none;
    padding: 0.75em 2em;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.movie-results {
    display: flex;
    flex-direction: column;
    gap: 2em;

    padding: 3em;
    min-height: 75vh;
}

.movie-results__placeholder {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.movie-results__placeholder-icon {
    font-size: 4em;
    color: var(--secondary-font-color);
}

.movie-results__placeholder-text {
    font-size: 1.75em;
    font-weight: bold;
    text-align: center;
    color: var(--secondary-font-color);
}

.movie-results__prompt {
    margin: auto;

    display: flex;
    gap: 0.5em;
    align-items: center;

    font-size: 1.25em;
    font-weight: bold;
    text-decoration: none;
    color: var(--primary-font-color);

    background-color: transparent;
    border: none;
    padding: 0.75em 0;
}

.movie-results__prompt-icon {
    font-size: 1.5em;
    color: var(--primary-font-color);
}

.movie {
    display: flex;
    align-items: center;
    gap: 1.5em;
}

.movie__image {
    min-width: 120px;
    max-width: 10vw;
    color: var(--primary-font-color);
}

.movie__details {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.movie__header {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.movie__minor-details {
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    gap: 0.8em;
}

.movie__watchlist {
    color: var(--primary-font-color);
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4em;
}

.watchlist__add {
    color: var(--primary-font-color);
    font-size: 1.25em;
}

.watchlist--success {
    color: var(--success-font-color);
}

.movie__description {
    color: var(--secondary-font-color);
}

.movie-results__break {
    width: 100%;
    border-color: var(--secondary-bg-color);
}