:root {
    --primary-bg-color: #121212;
    --secondary-bg-color: #2E2E2F;
    --primary-font-color: #FFFFFF;
    --secondary-font-color: #9CA3AF;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    color: var(--primary-font-color);
    background-color: var(--primary-bg-color);
}

.header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url('/images/movie-posters.jpg');
    background-position: center center;
    background-size: cover;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    height: 25vh;

    padding: 3em;
}

.header__title {
    font-size: 3em;
}

.header__link {
    text-decoration: none;
    color: var(--primary-font-color);
    font-weight: bold;
    padding: 1em;
    cursor: pointer;
}